[author]
	name = dokee
	email = dokee.39@gmail.com
[http]
	postBuffer = 524288000
	sslVerify = true
	proxy = http://127.0.0.1:7890
[user]
	email = dokee.39@gmail.com
	name = dokee39
[alias]
	st = status
	a = add
	ci = commit
	br = branch
	lg = log
	mg = merge
	co = checkout
[core]
	symlinks = true
