[Desktop Entry]
Categories=Chat;Network;
Comment=DingTalk
Exec=dingtalk --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --disable-gpu --disable-gpu-sandbox %u
GenericName=dingtalk
Icon=dingtalk
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;
Name=DingTalk
Name=DingTalk
Name[zh_CN]=钉钉
Type=Application
X-Deepin-Vendor=user-custom
