[Desktop Entry]
Name=Vesktop
Exec=vesktop --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --disable-gpu --disable-gpu-sandbox %U
Terminal=false
Type=Application
Icon=vesktop
StartupWMClass=Vesktop
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
