[Desktop Entry]
Name=Aokana - EXTRA2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2206340
Icon=steam_icon_2206340
Terminal=false
Type=Application
Categories=Game;
