[Desktop Entry]
Name=Halluci-Sabbat of Koishi
Comment=Play this game on Steam
Exec=steam steam://rungameid/1684100
Icon=steam_icon_1684100
Terminal=false
Type=Application
Categories=Game;
