[Desktop Entry]
Name=Muv-Luv
Comment=Play this game on Steam
Exec=steam steam://rungameid/802880
Icon=steam_icon_802880
Terminal=false
Type=Application
Categories=Game;
