[Desktop Entry]
Name=Muv-Luv Alternative
Comment=Play this game on Steam
Exec=steam steam://rungameid/802890
Icon=steam_icon_802890
Terminal=false
Type=Application
Categories=Game;
