[Desktop Entry]
Name=Re: LieF ~ Shin'ainaru Anata e~
Comment=Play this game on Steam
Exec=steam steam://rungameid/1518770
Icon=steam_icon_1518770
Terminal=false
Type=Application
Categories=Game;
