[Desktop Entry]
Name=WITCH ON THE HOLY NIGHT
Comment=Play this game on Steam
Exec=steam steam://rungameid/2052410
Icon=steam_icon_2052410
Terminal=false
Type=Application
Categories=Game;
