[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/obsidian --no-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland --enable-wayland-ime --disable-gpu --disable-gpu-sandbox %U
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
X-AppImage-Version=1.5.12
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
